@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "TEST";
}
<div class="text-center">
    <h1 class="display-4">BajoJajo</h1>
    <p>Bajo Jajo</p>
    <marquee bgcolor = "#8FD" style = "font-size: 60px">BAJO JAJO</marquee>
    <script src="~/js/Home/Home.js"></script>
</div>